<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>新聞首頁</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="index" class="navbar-brand"></a>
            </div>
            <!-- class="visible-xs-inline-block"：在超小螢幕上顯視-->
            <label for="toggle-checkbox" id="toggle-label" class="visible-xs-inline-block">菜單</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox">
            <div class="hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index">首頁</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login">登入</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="list-group side-bar hidden-xs">
                    <a href="index" class="list-group-item active">综合</a>
                    <a class="btn btn-primary" id="sports" role="button">運動</a>
                    <a class="btn btn-primary" id="politics" role="button">政治</a>
                    <a class="btn btn-primary" id="game" role="button">遊戲</a>
                    <a class="btn btn-primary" id="entertainment" role="button">娛樂</a>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="news-list">
                    <div id="newsMain">
                    </div>
                    <div>頁碼:</div>
                    <a id="pages">
                    </a>

                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        2022
    </div>


    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>