<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登入</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand"></a>
            </div>
            <label for="toggle-checkbox" id="toggle-label" class="visible-xs-inline-block">菜單</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox">
            <div class="hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index">首頁</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </div>
    <div class="container container-small">
        <h1>登入</h1>
        <form id="testForm" action="login_form" method="post"  >
            <div class="form-group">
                <label>帳號</label>
                <input name="username" type="username" class="form-control" >
            </div>
            <div class="form-group">
                <label>密碼</label>
                <input name="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">登入</button>
            </div>
        </form>
    </div>
    <div class="footer">
        2020
    </div>
</body>

</html>