<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>新聞詳情修改頁面</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand"></a>
            </div>
            <label for="toggle-checkbox" id="toggle-label" class="visible-xs-inline-block">菜單</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox">
            <div class="hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="indexAdmin">首頁</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <form id="logoutForm" action="perform_logout" method="post"  >
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">登出</button>
                  </div>
                  </form>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12">

          <div >
            
            <form class="row g-3 " id="testForm" action="api/News/modifyOneNews" method="post">
              <div class="col-12">
                <label class="form-label">標題</label>
                  <input name="id" type="hidden" id="id"  >
                  <input name="title" type="text" class="form-control" id="title" placeholder="請輸入標題" maxlength="20">
                  <!-- <input name="title" type="text" class="form-control" id="title" placeholder="請輸入標題" value="99999"> -->
              </div>
              <div class="col-12">
                  <label>類別</label>
                  <select id="tag" class="form-control" name="tag">
                      <option>综合</option>
                      <option>運動</option>
                      <option>娛樂</option>
                      <option>政治</option>
                      <option>遊戲</option>
                  </select>
              </div>
              <div class="col-12">
                  <label class="form-label">作者</label>
                  <input name="author" type="text" class="form-control" id="author" placeholder="請輸入作者" maxlength="10">
              </div>
  
              <div class="col-12">
                  <label class="form-label">文章內容</label>
                  <textarea name="content" class="form-control" id="content" rows="8"></textarea>
              </div>
              <div class="col-12">
                  <button type="submit" class="btn btn-primary">送出</button>
              </div>
          </form>

          </div>
          
          <div id = "newsMain">
          </div>
        </div>
    </div>
    <div class="footer">
        2022
    </div>


    <script src="js/jquery-3.2.1.min.js"></script>
    <script>
      let sseref= window.location.search.toString().split("=")[1];
      console.log(sseref);

      $(document).ready(function() {
        $("#newsMain").empty(); // 查詢時清空前次紀錄
        newsContent(sseref);
      });
      var newsContent =  function(id){
            $.ajax({
              url: 'api/News/search/getNewsById',
                  type: 'post',
                  dataType: 'json',
                  data: {
                      "id": id
                  },
                  success: function(res) {
                    console.log(res);
                    $("#id").val(res.id);
                    $("#title").val(res.title);
                    $("#tag").val(res.tag);
                    $("#author").val(res.author);
                    $("#content").val(res.content);                   
                  },
                  error: function(res) {
                      console.log(res);
                  }
              });

          }

          


    </script>
</body>

</html>